.header {
  height: 1.06667rem;
  width: 100%;
  background-color: red;
  padding-left: 0.61333rem; }
  .header .header-item {
    float: left;
    color: #ffcdce;
    font-size: 0.42667rem;
    margin-right: 0.53333rem;
    line-height: 1.06667rem; }
    .header .header-item:nth-child(2) {
      color: #fff;
      font-size: 0.45333rem; }

.banner-content {
  position: relative; }
  .banner-content .banner {
    display: block;
    height: 5.06667rem;
    width: 100%; }
  .banner-content .banner-title {
    position: absolute;
    left: 0.4rem;
    bottom: 0.4rem;
    font-size: 0.42667rem;
    color: #fff; }

.news-content .news-item {
  width: 100%;
  height: 2.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem; }

.news-content .item-inner {
  position: relative;
  overflow: hidden;
  height: 100%;
  border-bottom: 0.02667rem solid #e5e5e5; }

.news-content .news-img {
  float: left;
  display: block;
  margin-top: 0.26667rem;
  width: 2.53333rem;
  height: 1.86667rem;
  margin-right: 0.26667rem; }

.news-content .news-title {
  color: #404040;
  font-size: 0.45333rem;
  margin-top: 0.42667rem;
  line-height: 0.53333rem; }

.news-content .time {
  position: absolute;
  left: 2.8rem;
  bottom: 0.45333rem;
  color: #888;
  font-size: 0.32rem; }

.news-content .num {
  position: absolute;
  right: 0.10667rem;
  bottom: 0.45333rem;
  color: #888;
  font-size: 0.32rem; }
  .news-content .num:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 0.53333rem;
    height: 0.53333rem;
    background-size: contain;
    background-image: url("../images/read.png");
    top: -0.08rem;
    left: -0.61333rem; }
